body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  width: 400px;
  padding: 40px;
  background: linear-gradient(to bottom, #0c709bbf, #042735bf);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
}
.login-container .login-text {
  font-size: 20px;
  margin-bottom: 20px;
}
.input-container {
  margin-bottom: 20px;
  position: relative;
}
.input-container input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}
.input-container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
}
.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #0056b3;
}
.footer-text {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer-text a {
  text-decoration: none;
  color: white;
}
